---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
---

<DefaultLayout title="About">
  <PageHeader
    title="Bryson Best"
    bgType="bordered"
    featuredImage=''
  />
  <section class="narrow container my-16">
    <div class="space-content">
        <h2>Who am I?</h2>
      <p>
       I am a full-stack developer working with open-source projects to provide freelance services and build accessible, inclusive products for the web.
      </p>
      <p>
        I am currently located in Canada where I work full time as a Full Stack Developer for the Provincial Government of British Columbia.
      </p>
      <h2>How can I help?</h2>
      <p>
Whether you want help designing the architecture behind a new application, assistance in front-end implementation, or the development of a full-stack application, I am ready to help you!
      </p>

      <h2>Want to work with me?</h2>
      <p>
        Send me a message through my <strong><a href="/contact" >contact form</a></strong> and I will get back to you as soon as possible.
      </p>
    </div>
  </section>
</DefaultLayout>
