---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import Hero from '@components/Hero.astro'
import Feature from '@components/Feature.astro'
// import ContentMedia from '@components/ContentMedia.astro'
import { Accordion, AccordionItem  } from 'accessible-astro-components'
import ExternalLink from '@components/ExternalLink.astro'

---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-8">
    <div class="container">
      <p class="text-2xl my-8">
      I’m a full-stack developer working with open-source projects to build accessible, inclusive products for the web.
      If you are interested in working with me, please check out my <a href="/resume">resumé</a> and connect with me on <ExternalLink href="https://www.linkedin.com/in/bryson-best/">LinkedIn</ExternalLink>.
      </p>
      <h2 class="mb-16 text-6xl">What I do</h2>
      <p class="text-2xl mb-8">
        I specialize in creating accessible web applications that are user-friendly and inclusive for all. My focus is on
        building solutions that meet the needs of diverse users, ensuring that everyone can access and benefit from the
        web.
      </p>
      <h2 class="mb-16 text-6xl">Services and Skills</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="lucide:brush" title="Design">
In need of a new web design? Looking to create a brand new application that will catch attention? 
        </Feature>
                <Feature icon="lucide:square-dashed-bottom-code" title="Develop">
Do you want a website with responsive, accessible design on the front end? Or maybe you need help integrating server-side databases and APIs? 
        </Feature>
                <Feature icon="lucide:rocket" title="Deploy">
Your website or application is ready to go, but you want some help with hosting or scaling your project?
        </Feature>
      </div>
    </div>
  </section>
  <section class="my-16">
    <div class="container grid grid-cols-1 gap-12 md:grid-cols-2">
      <div>
        <h2>Public Sector Projects</h2>
        <p class="text-2xl">
          I have worked on several public sector projects, including many government websites and applications.
          If you're interested, public sector project work can be explored in my <ExternalLink href="https://github.com/brysonjbest">public sector github</ExternalLink>.
          I have experience working with and across multiple government agencies to create solutions that are user-friendly,
          inclusive, and compliant with accessibility standards.
        </p>
      </div>
      <div>
        <h2>Public Policy</h2>
        <p class="text-2xl">
          I am passionate about public policy and its impact on accessibility. I believe that accessibility should be a
          fundamental right, and I work to promote policies that support accessibility in web development. I am committed to
          advocating for policies that ensure equal access to information and services for all users, regardless of their
          abilities.
        </p>
      </div>
    </div>
  </section>
  <section class="my-4">
    <div class="container grid grid-cols-1 gap-12 md:grid-cols-2">
      <div class="flex flex-col items-start gap-4">
        <h2 class="text-6xl">Education and Experience </h2>
        <p class="text-2xl">
        </p>
        <h3>
          <a href="/resume/" class="text-2xl">
            View my resumé
        </a>
        </h3>
      </div>
      <div class="space-content">
        <Accordion>
          <AccordionItem title="What is your educational background?">
            I have a BA in Psychology from the University of the Fraser Valley and a Post-Baccalaureate Diploma in Disability and Rehabilitation Management from Simon Fraser University.
          </AccordionItem>
          <AccordionItem title="What is your work experience?">
            I currently work as a Full Stack Developer for the Public Service Agency, Government of British Columbia, where I write code for new features and deploy full-stack applications.
          </AccordionItem>
          <AccordionItem title="What are your skills?">
            I have experience in full-stack web development, including front-end and back-end technologies. I am proficient in Python, JavaScript, and various web development frameworks. I also have a strong understanding of accessibility standards and best practices.
          </AccordionItem>
          <AccordionItem title="What are your interests?">
            I am passionate about accessibility and public policy. I believe that accessibility should be a fundamental right. I am also interested in open-source projects and contributing to the community. In my free time, I enjoy photography and exploring the outdoors.
          </AccordionItem>
          <AccordionItem title="How can I help you?">
            If you are looking for a full-stack developer who is passionate about accessibility and public policy, I would love to hear from you. I am always looking for new opportunities to work on projects that make a difference in people's lives.
          </AccordionItem>
        </Accordion>
      </div>
    </div>
  </section>
</DefaultLayout>

<style>
  .avatar {
    border: 1px solid var(--border-color-subtle);
    border-radius: var(--radius-md);
    padding: var(--space-s);
  }
</style>
