---
import CallToAction from './CallToAction.astro'
import ExternalLink from './ExternalLink.astro'
import Logo from './Logo.astro'

/**
 * Footer Component
 *
 * @description A component that displays the footer of the website
 */
const currentYear = new Date().getFullYear()
const currentPage = Astro.url.pathname
const isAboutPage = currentPage.startsWith('/about') || currentPage === '/about'
---

<footer>
  <CallToAction />
  <section class="py-4">
    <div class="container flex flex-col gap-4 md:flex-row md:justify-between">
      <p>
        &copy; {currentYear}
      </p>
      <p>
        <Logo loading="lazy" short />   

      </p>
      {isAboutPage &&
      <p class="text-sm">
        Accessibility website template <ExternalLink href="https://github.com/incluud/accessible-astro-starter" >here</ExternalLink>.
      </p>}
    </div>
  </section>
</footer>

<style>
  section {
    border-top: 1px solid var(--border-color-subtle);
  }
</style>
