---
import PersonalLogo from './PersonalLogo.astro'
/**
 * Logo Component
 *
 * @description Logo description
 */
interface Props {
  /**
   * Whether to load the image eagerly or lazily
   * @default 'eager'
   */
  loading?: 'eager' | 'lazy',
  short?: boolean
}

const { short = false }: Props = Astro.props
---

<a href="/" class="flex items-center gap-2 !no-underline">
  <PersonalLogo width={short ? "47" : "200"} height="auto" name="Bryson Best" short={short} />
     <!-- {short ? <PersonalLogo alt="Bryson Best Logo" width="47" height="37" loading={loading} /> :
  <Image src={longLogo} alt="Bryson Best Logo" width="200" height="30" loading={loading} />  } -->
</a>

<style lang="scss">
  a {
    color: var(--foreground-color);
  }
</style>
